<main class="main">
<div id="navbar">
    <img src="../assets/images/logo2.png"/>
    <ul>
        <li>Home</li>
        <li>About Us</li>
        <li> Prices</li>
        <li>Contact</li>
    </ul>
</div>
<div id="hero-section">
    <img src="../assets/images/space-camps-hero-long.JPG" alt="Some hero image"/>
    <h1><span>MKAYAHAMAT</span> <br> SPACE CAMPS</h1>
    <button id="contact-button"> Contact us </button>
</div>
<div id="main-attractions">
    <div class="attraction">
        <div class="flex-parent ">
            <!-- <img class="stars" src="../assets/images/stars.png"/> -->

            <div class="rocket-and-fire">
                <img class="rocket" src="../assets/images/rocket-fireless.png" />
                <img class="fire" src="../assets/images/rocket-fire.png" />
            </div>
        </div>
        <div class="attraction-text">
            <h2>Space Camp Program</h2>
            <h4>A School Day That’s Out of This World!</h4>
            <p>Program Overview</p>
            <!-- <p> Transform your school into a <b>full-scale space exploration hub</b> with our immersive Space Camp Program! From hands-on workshops to giant inflatable space attractions, this program blends science, imagination, and fun in a way that captivates students of all ages.</p> -->
            <p>Turn your school into a <b>space station</b> with our interactive Space Camp experience!</p>
            <p>Planetarium Experience:</p>
            <ul>
                <li><b>interactive dark sessions:</b> with giant space models(e.g. 10m dome, space shuttle, astronauts)</li>
                <li><b>Workshops: </b>Space Lego assembly, coloring, and science experiments.</li>
                <li><b>Inflatable Space Games:</b> 7+ Giant space-themed bouncing and sliding attractions</li>
                <li><b>Camp Kits:</b> Each student receives a bag with NASA-themed gifts (e.g. eclipse glasses, patches, certificates) </li>  
            </ul>
        </div>
    </div>
    <div class="attraction">
        <div class="attraction-text">
            <h2>Galactic Overnight Camp</h2>
            <h4>A Unique Astronomy Sleepover Experience</h4>
            <p>Program Overview</p>
            <p>Transform Your school into an <b>interactive space observatory</b> with our unforgettable overnight camp!</p>
            <p>Students will:</p>
            <ul>
                <li><b>Stargaze</b> through professional telescopes to observe planets, moons and constellations.</li>
                <li><b>Sleep in space-themed tents</b> with NASA-style sleeping bags under a "starry" indoor sky(projected constellations).</li>
                <li><b>Enjoy space-themed meals:</b> Astronaut breakfast & "Milky Way" dinner included.</li>
            </ul>
        </div>
        <img src="../assets/images/bed2.png" />
    </div>
</div>
<div id="sample-schedule">
    <p>Sample Schedule (Saturday PM - Sunday AM)</p>
    <div class="background-overlay"></div>
    <table>
        <tr>
            <th>Time</th>
            <th>Activity</th>
        </tr>
        <tr>
            <td>5:00 PM</td>
            <td>Arrival & Space Tent Setup</td>
        </tr>
        <tr>
            <td>6:30 PM</td>
            <td>"Milky Way" Dinner</td>
        </tr>
        <tr>
            <td>7:30 PM</td>
            <td>Telescope Observation Session</td>
        </tr>
        <tr>
            <td>9:00 PM</td>
            <td>Space Movie Night (Indoor Planetarium)</td>
        </tr>
        <tr>
            <td>11:00 PM</td>
            <td>Lights Out(Constellation Projection)</td>
        </tr>
        <tr>
            <td>6:30 AM</td>
            <td>Sunrise Astronomy & Astronaut Breakfast</td>
        </tr>
        <tr>
            <td>8:00 AM</td>
            <td>Departure with Camp Certificates</td>
        </tr>
    </table>
</div>
<div id="partners-section">
    <h1>Our Partners</h1>
    <div class="partners-grid">
        <div class="partner-card"><img src="../assets/images/partner1.png" alt="Partner 1" /></div>
        <div class="partner-card"><img src="../assets/images/partner2.png" alt="Partner 2" /></div>
        <div class="partner-card"><img src="../assets/images/partner3.png" alt="Partner 3" /></div>
        <div class="partner-card"><img src="../assets/images/partner4.png" alt="Partner 4" /></div>
        <div class="partner-card"><img src="../assets/images/partner5.png" alt="Partner 5" /></div>
        <div class="partner-card"><img src="../assets/images/partner6.png" alt="Partner 6" /></div>
        <div class="partner-card"><img src="../assets/images/partner7.png" alt="Partner 7" /></div>
        <div class="partner-card"><img src="../assets/images/partner8.png" alt="Partner 8" /></div>
        <div class="partner-card"><img src="../assets/images/partner9.png" alt="Partner 9" /></div>

    </div>

</div>
<div id="footer">
    <p>© 2023 SpaceCamps. All rights reserved.</p>
    <p>Contact us at: <a href="mailto:balawiu@gmail.com"> balawiuATgmail.com</a></p>
</div>
</main>
<router-outlet />
