<main class="main">
<div id="navbar">
    <img src="../assets/images/logo2.png"/>
    <ul>
        <li>Home</li>
        <li>About Us</li>
        <li> Prices</li>
        <li>Contact</li>
    </ul>
</div>
<div id="hero-section">
    <img src="../assets/images/space-camps-hero-long.JPG" alt="Some hero image"/>
    <h1><span>MKAYAHAMAT</span> <br> SPACE CAMPS</h1>
    <button id="contact-button"> Contact us </button>
</div>
<div #mainAttractions id="main-attractions">
    <img *ngFor="let s of stars"
    class="star"
    [src]="s.src"
    [style.position]="'absolute'"
    [style.top]="s.top"
    [style.left]="s.left"
    [style.width]="s.size"
    [style.height]="s.size"
    [style.transform]="'rotate(' + s.rotate + ')'"
    [style.opacity]="s.opacity"
    alt="" />
    <div class="attraction">
        <img class="attraction-image ufo"  src="../assets/images/ufo.png" />
        <div class="attraction-text">
            <h1>Space Camp Program</h1>
            <h3>A School Day That’s Out of This World!</h3>
            <p>Program Overview</p>
            <p>Turn your school into a <b>space station</b> with our interactive Space Camp experience!</p>
            <ul>
                <app-card>
                    <li><h4>🪐interactive dark sessions:</h4> with giant space models(e.g. 10m dome, space shuttle, astronauts)</li>
                    <img class="card-image" src="../assets/images/moon-model.jpg" alt="space model"/>
                </app-card>
                <app-card>
                    <li><h4>👨‍🚀Workshops: </h4> Space Lego assembly, coloring, and science experiments.</li>
                    <img class="card-image" src="../assets/images/workshop.jpg" alt="workshop"/>
                </app-card>
                <app-card>
                    <li><h4>🌕Inflatable Space Games:</h4> 7+ Giant space-themed bouncing and sliding attractions</li> 
                    <img class="card-image" src="../assets/images/inflateable-crop.JPG" alt="inflatables"/>
                </app-card>
                <app-card>
                    <li><h4>⛺Camp Kits:</h4> Each student receives a bag with NASA-themed gifts (e.g. eclipse glasses, patches, certificates) </li>  
                    <img class="card-image" src="../assets/images/baggie.JPG" alt="kits"/>
                </app-card>
            </ul>
        </div>
    </div>
    <div class="attraction">
        <div class="attraction-text">
            <h1>Galactic Overnight Camp</h1>
            <h3>A Unique Astronomy Sleepover Experience</h3>
            <p>Transform Your school into an <b>interactive space observatory</b> with our unforgettable overnight camp!</p>
            <ul>
                <app-card>
                    <li><h4>Stargaze</h4>through professional telescopes to observe planets, moons and constellations.</li> 
                    <img class="card-image" src="../assets/images/stargaze.JPG" alt="stargaze"/>
                </app-card>
                <app-card>
                    <li><h4>Space-themed tents</h4>with NASA-style sleeping bags under a "starry" indoor sky(projected constellations).</li> 
                    <img class="card-image" src="../assets/images/tent.JPG" alt="tent"/>
                </app-card>
                <app-card>
                    <li><h4>Space Meals</h4> Astronaut breakfast & "Milky Way" dinner included.</li> 
                    <img class="card-image" src="../assets/images/meal.JPG" alt="meal"/>
                </app-card>
            </ul>
        </div>
        <div class="flex-parent ">
            <div class="rocket-and-fire attraction-image">
                <img class="rocket" src="../assets/images/rocket-fireless.png" />
                <img class="fire" src="../assets/images/rocket-fire.png" />
            </div>
        </div>
    </div>
</div>
<div id="sample-schedule">
    <p>Sample Schedule (Saturday PM - Sunday AM)</p>
    <div class="background-overlay"></div>
    <table>
        <tr>
            <th>Time</th>
            <th>Activity</th>
        </tr>
        <tr>
            <td>5:00 PM</td>
            <td>Arrival & Space Tent Setup</td>
        </tr>
        <tr>
            <td>6:30 PM</td>
            <td>"Milky Way" Dinner</td>
        </tr>
        <tr>
            <td>7:30 PM</td>
            <td>Telescope Observation Session</td>
        </tr>
        <tr>
            <td>9:00 PM</td>
            <td>Space Movie Night (Indoor Planetarium)</td>
        </tr>
        <tr>
            <td>11:00 PM</td>
            <td>Lights Out(Constellation Projection)</td>
        </tr>
        <tr>
            <td>6:30 AM</td>
            <td>Sunrise Astronomy & Astronaut Breakfast</td>
        </tr>
        <tr>
            <td>8:00 AM</td>
            <td>Departure with Camp Certificates</td>
        </tr>
    </table>
</div>
<div id="partners-section">
    <h1>Our Partners</h1>
    <div class="partners-grid">
        <div class="partner-card"><img src="../assets/images/partner1.png" alt="Partner 1" /></div>
        <div class="partner-card"><img src="../assets/images/partner2.png" alt="Partner 2" /></div>
        <div class="partner-card"><img src="../assets/images/partner3.png" alt="Partner 3" /></div>
        <div class="partner-card"><img src="../assets/images/partner4.png" alt="Partner 4" /></div>
        <div class="partner-card"><img src="../assets/images/partner5.png" alt="Partner 5" /></div>
        <div class="partner-card"><img src="../assets/images/partner6.png" alt="Partner 6" /></div>
        <div class="partner-card"><img src="../assets/images/partner7.png" alt="Partner 7" /></div>
        <div class="partner-card"><img src="../assets/images/partner8.png" alt="Partner 8" /></div>
        <div class="partner-card"><img src="../assets/images/partner9.png" alt="Partner 9" /></div>

    </div>

</div>
<!-- <svg xmlns="../assets/images/start-svg.svg" width="100" height="100"></svg> -->

<div id="footer">
    <span><i class="pi pi-envelope"></i> <a href="mailto:balawiu@gmail.com"> balawiu&#64;gmail.com</a></span>
    <span><i class="pi pi-phone"></i> <p>0739 432 252</p></span>
    <p class="reserved">© 2023 SpaceCamps. All rights reserved.</p>

</div>
</main>
<router-outlet />
