<main class="main">
  <div id="navbar">
    <img src="assets/images/logo2.png" alt="Logo" />
    <ul>
      <li>
        <button class="nav-btn"
                [routerLink]="['/home']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
          Home
        </button>
      </li>
      <li>
        <button class="nav-btn"
                [routerLink]="['/about']"
                routerLinkActive="active">
          About
        </button>
      </li>
      <li>
        <button class="nav-btn"
                [routerLink]="['/contact']"
                routerLinkActive="active">
          Contact
        </button>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</main>
