/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css"

@font-face 
    font-family: 'Noticia'
    src: url("assets/fonts/Noticia/Noticia_Text/NoticiaText-Regular.ttf") format('truetype') 
    font-weight: normal 
    font-style: normal 

*
    font-family: 'Noticia', sans-serif